body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg,#a1c4fd,#c2e9fb);
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background: #0a68a3;
  padding: 22px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

header h1 {
  margin: 0;
  font-size: 30px;
  animation: fadeIn 1.8s ease-in-out;
  font-weight: 700;
}

/* Buttons */
.buttons {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #ff914d;
  border: none;
  padding: 14px 22px;
  margin: 10px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
}

button:hover {
  background: #ff6a00;
  transform: scale(1.1);
}

/* Main Content */
.content {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.content h2 {
  color: #0a4d68;
  font-size: 24px;
  font-weight: 700;
}

/* Footer */
footer {
  background: #084f73;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 35px;
  font-weight: 500;
}

/* Animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
